.profile {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 40px;
  align-items: start;
}

.profile__sidebar {
}

.profile__clothes-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
