@font-face {
  font-family: "Grotesk";
  src: url("../../vendor/CabinetGrotesk-Medium.otf") format("opentype");
}

.card__text {
  font-family: "Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.card {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px;
  border-color: #000000;
  border-radius: 8px;
  padding: 0 12px 12px;
}

.card__top {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  z-index: 2;
}

.card__name {
  margin: 0;
  padding: 2px 8px;
  height: 24px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;

  font-family: "Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border-radius: 8px;
  background: #f8fafc;
  cursor: pointer;
}

.card__like-button {
  width: 18px;
  height: 15px;
  padding: 0;
  border: 0;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card__like-icon {
  width: 18px;
  height: 15px;
  display: block;
}
