@font-face {
  font-family: "Grotesk";
  src: url("../../vendor/CabinetGrotesk-Medium.otf") format("opentype");
}

.card__text {
  font-family: "Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px;
  border-color: #000000;
  border-radius: 8px;
}

.card__name {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  margin: 0;
  background-color: #ffffff;
  width: 73px;
  height: 24px;
  box-sizing: border-box;
  border-radius: 4px;
  white-space: nowrap;
  font-family: "Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__image {
  width: 100%;
  cursor: pointer;
}
