@font-face {
  font-family: "GroteskBold";
  src: url("../../vendor/CabinetGrotesk-Bold.otf") format("opentype");
}

.modal__item_content {
  width: 498px;
  height: 610px;

  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 0;
}

.modal__item_image {
  width: 498px;
  height: 498px;
  display: block;
  object-fit: cover;
  padding: 0;
}

.modal__item_footer {
  padding: 20px 24px 24px 32px;
  background-color: #ffffff;
  text-align: left;
}

.modal__item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__item_caption {
  display: flex;
  align-items: center;
  font-family: GroteskBold, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.modal__item_weather {
  font-size: 20px;
  font-family: GroteskBold, sans-serif;
  font-weight: 700;
  margin: 0;
  margin-top: 8px;
  padding-bottom: 32px;
}

.modal__item_close {
  position: absolute;

  top: 24px;
  right: 24px;
  background: transparent;
  border: none;
  background: none;
  border: none;
  padding: 0;
}

.modal__item_close-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  background: transparent;
  cursor: pointer;
}

.modal__item_delete-button {
  font-family: GroteskBold, sans-serif;
  font-weight: 700;
  margin: 0;
  background-color: transparent;
  color: #ff4d00;
  border: none;
  padding: 8px 16px;
  font-size: 20px;
  cursor: pointer;
}
