@font-face {
  font-family: "Grotesk";
  src: url("../../vendor/CabinetGrotesk-Medium.otf") format("opentype");
}

.sidebar__username {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: auto;
  gap: 12px;
  font-family: "Grotesk", sans-serif;
  white-space: nowrap;
}

.sidebar__header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  background: #f3f5f7;
  display: grid;
  place-items: center;
}

.sidebar__avatar img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.sidebar__username {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar__avatar_placeholder {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: 700;
  background: #f3f5f7;
}

.sidebar__actions {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  flex-direction: column;
  gap: 8px;
  margin-top: 27px;
}

.sidebar__btn {
  background: none;
  border: none;
  padding: 0;
  color: #000000;
  cursor: pointer;
  text-align: left;
}

.sidebar__btn_signout {
  color: #000000;
}
